@model List<Project_3.Models.InvoiceLineItem>
@{
    ViewBag.Title = "All";
}

<h2>All Invoice Line Items</h2>

<a href="/InvoiceLineItems/Upsert">Add New</a>
<br />
<br />

<div class="row">
    <div class="col-md-6">
        <input id="txtSearch" type="text" class="form-control" placeholder="Search..." />
        <input type="button" class="btn btn-info" value="Search" onclick="search();" />
    </div>
</div>

<table class="sortable table table-hover">
    <thead>
        <tr>
            <th onclick="sort(1);">Invoice Id</th>
            <th onclick="sort(2);">Product Code</th>
            <th onclick="sort(3);">Unit Price</th>
            <th onclick="sort(4);">Quantity</th>
            <th onclick="sort(5);">Item Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoiceLineItem in Model)
        {
        <tr>
            <td>@invoiceLineItem.InvoiceID</td>
            <td>@invoiceLineItem.ProductCode</td>
            <td>@invoiceLineItem.UnitPrice</td>
            <td>@invoiceLineItem.Quantity</td>
            <td>@invoiceLineItem.ItemTotal</td>
            <td>
                <a href="/InvoiceLineItems/Upsert/@invoiceLineItem.InvoiceID">Edit</a>
                <a href="/InvoiceLineItems/Delete/@invoiceLineItem.InvoiceID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>















<script>
    function sort(sortBy) {
        let isDesc = false;

        var url_string = window.location.href;
        var url = new URL(url_string);
        var isDescUrlParam = url.searchParams.get("isDesc");

        if (isDescUrlParam == "false") {
            isDesc = true;
        }

        window.location.href = "/InvoiceLineItems/All/?sortBy=" + sortBy + "&isDesc=" + isDesc;
    }
    function search() {
        var searchKey = $('#txtSearch').val();

        $('.sortable tbody tr').each(function () {
            var currentText = $(this).text();

            if (currentText.toLowerCase().indexOf(searchKey.toLowerCase()) == -1) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    }
</script>
